#home{
background-color: red;
  height: 100%;
  .jumbotron{
    background-image: url("~@/assets/template (1).png");
    h1{

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      font-size: 150px;
      font-family: "Times New Roman";
      color: white;
    }
    .home-info2{
      font-family: "Arial Black";
      color: rgb(43,60,76);
    }


  }
}
